@charset "ISO-8859-1";

body{
background: #FFCDD2;
background: linear-gradient(to right, #E0E0E0, #adb5bd)
}

#cont {
	background-color: #ffb3ff;
	padding: 40px;
	width: 55%;
	position: center;
	margin-top: 20px;
}
